GEMINI_API_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_BUCKET=afrigombo-media
SUPABASE_SERVICE_ROLE_KEY=
FIREBASE_SERVICE_ACCOUNT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=https://d336ac8939fd48099d0e284310a7deb5.r2.cloudflarestorage.com
R2_PUBLIC_BUCKET=afrigombo-public
R2_PRIVATE_BUCKET=afrigombo-private
R2_PUBLIC_BASE_URL=https://pub-9b8a37b996274704aee625c82e6430f3.r2.dev
